@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white-bckg: #EEEEF6;
  --color-text-bckg: #172755;
  --color-blue: #0088F0;
  --color-red: #EF2A82;
  --color-text-secondary: #8794BA;
  --border: 1px solid var(--color-text-secondary);
  --border-radius: 68px;
  --border-radius-large: 30px;
  --border-radius-small: 18px;
  --shadow: 0 4px 150px 0 rgba(0, 0, 0, 0.44);
  --font-family-base: "Roboto", sans-serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --main-featured-padding-y: 60px;
  --button-height: 50px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.125vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-text-secondary);
  background-color: var(--color-white-bckg);
}

a,
button,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: clamp(40px, 3.125vw, 50px);
}

h2 {
  font-size: clamp(30px, 2.5vw, 40px);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-inline: 80px;
  color: var(--color-text-secondary);
  font-size: 16px;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: var(--border);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-red);
    color: var(--color-white-bckg);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-red);
    color: var(--color-white-bckg);
  }
}
.button--transparent {
  height: 40px;
  padding-inline: 50px;
}
@media (max-width: 1000px) {
  .button--transparent {
    padding-inline: 30px;
  }
}
.button-order-reverse {
  background-color: var(--color-red);
  color: var(--color-white-bckg);
}
@media (hover: hover) {
  .button-order-reverse:hover {
    background-color: var(--color-text-bckg);
    color: var(--color-text-secondary);
  }
}
@media (hover: none) {
  .button-order-reverse:active {
    background-color: var(--color-text-bckg);
    color: var(--color-text-secondary);
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  color: var(--color-text-secondary);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-red);
    border-radius: var(--border-radius-small);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-red);
    border-radius: var(--border-radius-small);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--color-text-secondary);
  box-shadow: 0 -8px, 0 8px;
}

.mobile-overlay {
  width: 100%;
  height: 1000%;
  margin: 0;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
  padding: 5px 5px;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
.mobile-overlay__item {
  padding: 6px 10px;
  border-radius: var(--border-radius);
  color: var(--color-text-secondary);
}
@media (hover: hover) {
  .mobile-overlay__item:hover {
    background-color: var(--color-red);
    transition: 0.3s;
  }
}
@media (hover: none) {
  .mobile-overlay__item:active {
    background-color: var(--color-red);
    transition: 0.3s;
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-red);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-red);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 70%;
  height: 3px;
  background-color: var(--color-text-secondary);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.background-container {
  background: url("../images/background-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding-top: 50px;
  color: var(--color-text-secondary);
}
@media (max-width: 1000px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .header {
    height: 70px;
    padding-top: 0;
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    align-content: center;
    background-color: var(--color-text-bckg);
  }
}
@media (max-width: 1000px) {
  .header__logo {
    width: 184px;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    width: 138px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 1000px) {
  .header__inner {
    -moz-column-gap: 26px;
         column-gap: 26px;
  }
}
.header__menu {
  margin-right: auto;
  font-size: 16px;
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  align-items: center;
}
@media (max-width: 1000px) {
  .header__menu-list {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  height: 26px;
  align-items: center;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__button {
  display: flex;
}
@media (max-width: 1000px) {
  .header__button {
    margin-left: auto;
  }
}
.header__button-signIn {
  border: 2px;
  padding-inline: 20px;
  margin-right: 4px;
}
@media (max-width: 1000px) {
  .header__button-signIn {
    margin-right: 0;
    padding-inline: 10px;
  }
}

.section {
  padding-block: var(--main-featured-padding-y);
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
  align-items: center;
}
@media (max-width: 1200px) {
  .hero {
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 560px;
  align-items: start;
}
@media (max-width: 1200px) {
  .hero__body {
    align-items: stretch;
  }
}
.hero__title {
  font-size: 50px;
  color: var(--color-white-bckg);
  font-weight: 700;
  line-height: 60px;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 31px;
    line-height: 37.2px;
  }
}
.hero__description {
  font-size: 18px;
  line-height: 27px;
}
.hero__button {
  margin-top: 35px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.features__title {
  font-size: 40px;
  line-height: 46px;
  color: var(--color-text-bckg);
}
@media (max-width: 1000px) {
  .features__title {
    align-self: start;
  }
}
.features__description {
  font-size: 18px;
  line-height: 27px;
  max-width: 1060px;
  text-align: center;
}
@media (max-width: 1000px) {
  .features__description {
    text-align: start;
  }
}
.features__cards {
  margin-top: 50px;
}
.features__cards-list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1000px) {
  .features__cards-list {
    flex-direction: column;
    row-gap: 35px;
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.feature-card__title {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 700;
  color: var(--color-text-bckg);
}
.feature-card__description {
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  max-width: 380px;
}
@media (max-width: 1000px) {
  .feature-card__description {
    text-align: start;
  }
}

.background-bottom {
  background: url("../images/background-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 120px;
}
@media (max-width: 1000px) {
  .cards-list {
    row-gap: 30px;
  }
}
.cards-item .card-info {
  display: flex;
  align-items: center;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .card-info {
    flex-direction: column;
    row-gap: 30px;
  }
}
.card-info--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .card-info--reverse {
    flex-direction: column;
  }
}
.card-info__item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 480px;
}
.card-info__item-title {
  line-height: 46.88px;
  color: var(--color-text-bckg);
}
.card-info__item-description {
  line-height: 27px;
}

.pricing {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  padding-top: 272px;
}
.pricing__title {
  line-height: 46.88px;
  color: var(--color-white-bckg);
}
@media (max-width: 767.98px) {
  .pricing__title {
    align-self: start;
  }
}
.pricing__description {
  margin-bottom: 50px;
  max-width: 1060px;
}
@media (max-width: 767.98px) {
  .pricing__description {
    align-self: start;
  }
}
.pricing__menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 1200px) {
  .pricing__menu-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.price-item {
  padding: 50px 60px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  border-radius: 30px;
  background-color: rgba(15, 31, 75, 0.7);
}
@media (max-width: 1200px) {
  .price-item {
    padding: 40px 50px 60px;
  }
}
.price-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.price-item__text-title {
  color: var(--color-white-bckg);
  font-size: 30px;
}
.price-item__line {
  width: 100%;
  background-color: #2A407C;
  height: 1px;
}
.price-item__cost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-item__cost-title {
  color: var(--color-white-bckg);
  font-size: 30px;
  line-height: 35px;
}
.price-item__number {
  font-size: 60px;
  line-height: 70px;
}

.price-item--accent-bg {
  background-color: #FFFFFF;
  opacity: 10;
  box-shadow: var(--shadow);
}

.price--color-reverse {
  color: var(--color-text-bckg);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer__line {
  margin-top: 60px;
  width: 100%;
  height: 1px;
  background-color: rgb(42, 64, 124);
}
.footer__links {
  margin: 70px 0 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__links {
    margin: 30px 0 50px;
  }
}
.footer__logo {
  position: relative;
}
@media (hover: hover) {
  .footer__logo:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .footer__logo:active::after {
    width: 100%;
  }
}
.footer__logo::after {
  position: absolute;
  content: "";
  top: 110%;
  width: 0;
  left: 50%;
  translate: -50%;
  background-color: currentColor;
  height: 2px;
  transition-duration: inherit;
}
.footer__menu {
  display: flex;
  align-items: center;
}
.footer__menu-list {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
.footer__menu-link {
  position: relative;
  display: inline-flex;
  font-size: 14px;
  line-height: 16.41px;
}
@media (hover: hover) {
  .footer__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .footer__menu-link:active::after {
    width: 100%;
  }
}
.footer__menu-link::after {
  position: absolute;
  content: "";
  top: 100%;
  width: 0;
  left: 50%;
  translate: -50%;
  background-color: currentColor;
  height: 2px;
  transition-duration: inherit;
}
.footer__social {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.footer__social-network {
  position: relative;
}
@media (hover: hover) {
  .footer__social-network:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .footer__social-network:active::after {
    width: 100%;
  }
}
.footer__social-network::after {
  position: absolute;
  content: "";
  top: 100%;
  width: 0;
  left: 50%;
  translate: -50%;
  background-color: currentColor;
  height: 2px;
  transition-duration: inherit;
}/*# sourceMappingURL=styles.css.map */